// Goofing around for a test
%button-basics {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 0.25em 1em;
}

.primary-button {
  @extend %button-basics;
  
  background-color: red;
  border-color: red;
  color: white;
}

.secondary-button {
  @extend %button-basics;
  
  background-color: orange;
  border-color: orange;
  color: black;
}
