// THE COLORS
//-----------
$base-color: #222;

// Primary
$lochmara: #007fcc;
$night-rider: #303030;
$nevada: #707173;
$casper: #adb8b9;
$travertine: #e7e5d3;
$snow-white: #fff;

// Secondary
$blue-lagoon: #005581;
$malibu: #54bceb;
$sushi: #78a22f;
$cinnabar: #ef4135;
$lightning-yellow: #f89728;
$supernova: #fdb924;

// Color Map
$palette-colors: (
   lochmara: $lochmara,
   night-rider: $night-rider,
   nevada: $nevada,
   casper: $casper,
   travertine: $travertine,
   snow-white: $snow-white,
   blue-lagoon: $blue-lagoon,
   malibu: $malibu,
   sushi: $sushi,
   cinnabar: $cinnabar,
   lightning-yellow: $lightning-yellow,
   supernova: $supernova
);


// DO STUFF
//---------
// @each directive loops through key/value pairs in the map
// $palette-color = key
// $color = value

// Collect each color name value
@each $palette-color, $color in $palette-colors {
   // Display the color at the end of the selector name
   .bg-#{$palette-color} {
      //  and use the color as the bg
      background-color: $color;

      // Display the color variable
      &:before {
         content: "$#{$palette-color}";
      }

      // Display the hex
      &:after {
         content: "#{$color}";
      }
   }

   // Use the color name as the selctor name for text colors
   .#{$palette-color} {
      color: $color;

      // Display color variable
      &:after {
         content: " $#{$palette-color}";
      }
   }
}
