// THE COLORS
//-----------
$base-color: #222;

// Primary
$lochmara: #007fcc;
$night-rider: #303030;
$nevada: #707173;
$casper: #adb8b9;
$travertine: #e7e5d3;
$snow-white: #fff;

// Secondary
$blue-lagoon: #005581;
$malibu: #54bceb;
$sushi: #78a22f;
$cinnabar: #ef4135;
$lightning-yellow: #f89728;
$supernova: #fdb924;
